<h3>Write Your Post Below</h2>  
<form method = "post" action="/create">
  <ul>
    <li>
      <label for="title">Title</label>
      <input name="title" type="text" size="55">
    </li>
    <li>
      <label for="body">Body</label>
      <textarea name="body" rows="10" cols="55"></textarea>
    </li>
    <li>
      <label for="author">Author</label>
      <input name="author" type="text" size="20">
    </li>
    <li>
      <label for="tag">Tags</label>
      <input name="tag" type="text" size="20">
    </li>
    <li>
      <input type="Submit" value="Submit">
    </li>
  </ul>
</form>

